! Tour Page
*mt_lo_copyenv*title: Tour - Copying an Environment
*mt_lo_copyenv*next: mt_lo_delenv
*mt_lo_copyenv*previous: mt_lo_addenv
*mt_lo_copyenv*htmlhelp: docu $euidlArray(language) mechhelp mt_lo_copyenvir.html
*mt_lo_copyenv*home: mt_mt_home

! Tour Page Components
*mt_lo_copyenv*tourlist: heading step1 step2 step3 step4 body seenext

!
! Component Definition
!
! Note:
!     Use \t to insert a tab into the text
!     Use \n to insert a line feed into the text
!     Use \i to insert an image into the text
!     Use \ to continue a line within this file
!
!     The \ is a used to specify that special characters be taken literally.
!     If using characters [, ], ", \, $ and perhaps others you must precede
!     them with the \ (backslash) to use them.
!
!     You have the following options available for a component:
!         Text          - The text to show for this component
!         HyperlinkCall - The method to call when this component is clicked on
!         Show          - The helpID of the buttcon to flash when choosing the
!                         magnifing glass.  This puts the magnifing glass in.
!         ImageList     - The list of images to place in the \i locations.
!                         This is not needed for the Show item but you must
!                         put the \i in the Text. NOT SUPPORTED YET

! heading
!
*mt_lo_copyenv*headingText: "Copying an Environment \n" HEADING2

! step1
!
*mt_lo_copyenv*step1Text: "1.\t" {STEP1} "Click Copy Environment..." \
{STEP1 step1} 

! step2
!
*mt_lo_copyenv*step2Text: "\n2.\t" {STEP1} "Select the environment you \
want to copy." \
{STEP1 step2} 

! step3
!
*mt_lo_copyenv*step3Text: "\n3.\t" {STEP1} "Type the name of the new \
environment." \
{STEP1 step3} 

! step4
!
*mt_lo_copyenv*step4Text: "\n4.\t" {STEP1} "Click OK. \n" {STEP1 step4} 

! body
!
*mt_lo_copyenv*bodyText: "\nThe environment you defined now appears in the \
Load Environment drop down list box. \n" BODY1

*mt_lo_copyenv*seenextText: "\n\nClick Next to learn how to delete an\
 environment.\n" {BODY1}
