! Tour Page
*mt_mo_toc1*title: Tour - Importing and Defining the Model
*mt_mo_toc1*next: mt_lo_toc1
*mt_mo_toc1*previous: mt_se_toc1
*mt_mo_toc1*htmlhelp: docu $euidlArray(language) mechhelp mt_mo_modeltoc.html
*mt_mo_toc1*home: mt_mt_home

! Tour Page Components
*mt_mo_toc1*tourlist: heading overview step1 step2 step3

!
! Component Definition
!
! Note:
!     Use \t to insert a tab into the text
!     Use \n to insert a line feed into the text
!     Use \i to insert an image into the text
!     Use \ to continue a line within this file
!
!     The \ is a used to specify that special characters be taken literally.
!     If using characters [, ], ", \, $ and perhaps others you must precede
!     them with the \ (backslash) to use them.
!
!     You have the following options available for a component:
!         Text          - The text to show for this component
!         HyperlinkCall - The method to call when this component is clicked on
!         Show          - The helpID of the buttcon to flash when choosing the
!                         magnifing glass.  This puts the magnifing glass in.
!         ImageList     - The list of images to place in the \i locations.
!                         This is not needed for the Show item but you must
!                         put the \i in the Text. NOT SUPPORTED YET

! heading
!
*mt_mo_toc1*headingText: "Importing and Defining the Model\n" HEADING2

! overview
!
*mt_mo_toc1*overviewText: "Use the Model tab to import and \
define the model:\n" {BODY1}

! step1
!
*mt_mo_toc1*step1Text: "1.\t" {STEP1} "Import the model." \
{STEP1 HYPERLINK step1} 
*mt_mo_toc1*step1HyperlinkCall: showTour mt_mo_impotoc


! step2
!
*mt_mo_toc1*step2Text: "\n2.\t" {STEP1} "Defeature the model." \
{STEP1 HYPERLINK step2} 
*mt_mo_toc1*step2HyperlinkCall: showTour mt_mo_defetoc


! step3
!
*mt_mo_toc1*step3Text: "\n3.\t" {STEP1} "Set model attributes." \
{STEP1 HYPERLINK step3} 
*mt_mo_toc1*step3HyperlinkCall: showTour mt_mo_attribu

