! Tour Page
*mt_re_seleitem*title: Tour - Select the Result Item
*mt_re_seleitem*next: mt_re_dispinfo
*mt_re_seleitem*previous: mt_re_selenvir
*mt_re_seleitem*htmlhelp: docu $euidlArray(language) mechhelp mt_re_resultitm.html
*mt_re_seleitem*home: mt_mt_home

! Tour Page Components
*mt_re_seleitem*tourlist: heading step1 step2 seenext

!
! Component Definition
!
! Note:
!     Use \t to insert a tab into the text
!     Use \n to insert a line feed into the text
!     Use \i to insert an image into the text
!     Use \ to continue a line within this file
!
!     The \ is a used to specify that special characters be taken literally.
!     If using characters [, ], ", \, $ and perhaps others you must precede
!     them with the \ (backslash) to use them.
!
!     You have the following options available for a component:
!         Text          - The text to show for this component
!         HyperlinkCall - The method to call when this component is clicked on
!         Show          - The helpID of the buttcon to flash when choosing the
!                         magnifing glass.  This puts the magnifing glass in.
!         ImageList     - The list of images to place in the \i locations.
!                         This is not needed for the Show item but you must
!                         put the \i in the Text. NOT SUPPORTED YET

! heading
!
*mt_re_seleitem*headingText: "Selecting a Result Item \n" HEADING2

! step1
!
*mt_re_seleitem*step1Text: "1.\t" {STEP1} "Click on the arrow on the \
Results Item drop down list box." \
{STEP1 step1} 

! step2
!
*mt_re_seleitem*step2Text: "\n2.\t" {STEP1} "Click on the result item \
that you want to see." \
{STEP1 step2} 

! seenext
!
*mt_re_seleitem*seenextText: "\n\nClick Next to learn how to display a \
result item.\n" {BODY1}

