! Tour Page
*mt_so_solve*title: Tour - Solving the Analysis
*mt_so_solve*next: mt_re_toc1
*mt_so_solve*previous: mt_so_solvtime
*mt_so_solve*htmlhelp: docu $euidlArray(language) mechhelp mt_so_toc1.html
*mt_so_solve*home: mt_mt_home

! Tour Page Components
*mt_so_solve*tourlist: heading overview nextpara seenext

!
! Component Definition
!
! Note:
!     Use \t to insert a tab into the text
!     Use \n to insert a line feed into the text
!     Use \i to insert an image into the text
!     Use \ to continue a line within this file
!
!     The \ is a used to specify that special characters be taken literally.
!     If using characters [, ], ", \, $ and perhaps others you must precede
!     them with the \ (backslash) to use them.
!
!     You have the following options available for a component:
!         Text          - The text to show for this component
!         HyperlinkCall - The method to call when this component is clicked on
!         Show          - The helpID of the buttcon to flash when choosing the
!                         magnifing glass.  This puts the magnifing glass in.
!         ImageList     - The list of images to place in the \i locations.
!                         This is not needed for the Show item but you must
!                         put the \i in the Text. NOT SUPPORTED YET

! heading
!
*mt_so_solve*headingText: "Solving the Analysis \n" HEADING2

! overview
!
*mt_so_solve*overviewText: "Click the Solve Problem button to begin \
the solution.  The environment you selected in the Load tab will be \
solved.  If you have not yet meshed the model, the Mechanical \
Toolbar will mesh it at this time. \n" {BODY1}

! nextpara
!
*mt_so_solve*nextparaText: "\nWhen the solution is finished, the Mechanical \
Toolbar will automatically open the Results tab and display the default \
results plot. \n" {BODY1}

*mt_so_solve*seenextText: "\n\nClick Next to learn how to review the results \
of an analysis.\n" {BODY1}
